.left{
    height: 1000px;
    width: 1000px;
}

.cursor{
    height: 100px;
    width: 50px;
    position: fixed;
    top: 0px;
    left: calc(500px + 25px);
    background-color: red;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#wheel{
    height: 900px;
    width: 900px; 
    border: 4px solid white;
    box-shadow: 0 0 31px 1px red;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 14s;
    z-index: -1;
    background-image: url(../img/wheel.jpg);
    background-size: cover;
    position: fixed;
    top: 80px;
    left: 100px;
    box-sizing: border-box;
}

#play{
    position: fixed;
    height: 224px;
    width: 224px;
    top: 420px;
    left: 440px;
    background-image: url(../img/logo.jpg);
    border-radius: 50%;
    border: none;
    transition-property: transform;
    transition-duration: 200ms;
}

#play:active{
    transform: scale(0.98);
}