*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    background-color: #333;
}

.container{
    display: flex;
    justify-content: space-between;
}

button{cursor: grab;}
button:focus{outline: none;}